# Digital Penang LMS
HTTP_PUBLISH_PORT=8090
JWT_ACCESS_SECRET=change-me-access
JWT_REFRESH_SECRET=change-me-refresh
NEXT_PUBLIC_APP_URL=https://lms.iyazbrhm.cloud
COOKIE_SECURE=1
SEED_ADMIN_EMAIL=admin@digitalpenang.my
SEED_ADMIN_PASSWORD=admin123
SEED_ADMIN_NAME=Digital Penang Admin
SEED_INSTRUCTOR_EMAIL=instructor@digitalpenang.my
SEED_INSTRUCTOR_PASSWORD=instructor123
SEED_STUDENT_EMAIL=student@digitalpenang.my
SEED_STUDENT_PASSWORD=student123
SEED_RESET_ADMIN_PASSWORD=0
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
ZOOM_ACCOUNT_ID=
ZOOM_CLIENT_ID=
ZOOM_CLIENT_SECRET=
